# SPECTRUM KERNEL MANAGER
# Ramdisk file for profile based kernel management
# Implimentation inspired by Franco's fku profiles

# Initialization
on property:sys.boot_completed=1
   # Set default profile on first boot
   exec u:r:init:s0 root root -- /init.spectrum.sh
   exec u:r:su:s0 root root -- /init.spectrum.sh
   # Enable Spectrum support
   setprop spectrum.support 1

   setprop persist.spectrum.kernel ShineLotus

# Balance (default profile)
on property:persist.spectrum.profile=0
    ##Setting Permissions
    chmod 0666 /sys/block/mmcblk0/queue/scheduler
    chmod 0666 /sys/block/mmcblk1/queue/scheduler
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
    chmod 0664 /sys/class/kgsl/kgsl-3d0/devfreq/max_freq
    chmod 0664 /sys/class/kgsl/kgsl-3d0/devfreq/min_freq
	chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
	chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor
    ## Adreno Idler
    write /sys/module/adreno_idler/parameters/adreno_idler_active "Y"
    ## CPU Governors BIG
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "interactive"
    restorecon -R /sys/devices/system/cpu # must restore after interactive
    ## CPU Governors small
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    restorecon -R /sys/devices/system/cpu # must restore after interactive
    ## IOSCHEDs
    write /sys/block/mmcblk0/queue/scheduler "cfq"
    write /sys/block/mmcblk1/queue/scheduler "fiops"
    chmod 0444 /sys/block/mmcblk0/queue/scheduler
    chmod 0444 /sys/block/mmcblk1/queue/scheduler
    ## 1843MHz (Default)
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq "1440000"
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq "1843200"
    ## 400MHz (Default)
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq "400000"
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq "400000"
    chmod 0444 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0444 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
    ## InternalSD read_ahead
    write /sys/block/mmcblk0/queue/read_ahead_kb 1024
    write /sys/block/mmcblk1/queue/read_ahead_kb 1024
  	## Thermal Throttling
	write /sys/module/msm_thermal/parameters/enabled "Y"
	write /sys/module/msm_thermal/parameters/temp_threshold 60
    ## devfreq
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor "msm-adreno-tz"
    write /sys/class/devfreq/cpubw/governor "interactive"
    ## Power Efficient Workqueue
    chmod 0664 /sys/module/workqueue/parameters/power_efficient
    write /sys/module/workqueue/parameters/power_efficient "Y"
    
# Performance
on property:persist.spectrum.profile=1
    ##Setting Permissions
    chmod 0666 /sys/block/mmcblk0/queue/scheduler
    chmod 0666 /sys/block/mmcblk1/queue/scheduler
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
    chmod 0664 /sys/class/kgsl/kgsl-3d0/devfreq/max_freq
    chmod 0664 /sys/class/kgsl/kgsl-3d0/devfreq/min_freq
	chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
	chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor
    ## Adreno Idler
    write /sys/module/adreno_idler/parameters/adreno_idler_active "N"
    ## CPU Governors BIG
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "interactive"
    restorecon -R /sys/devices/system/cpu # must restore after interactive
    ## CPU Governors small
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    restorecon -R /sys/devices/system/cpu # must restore after interactive
    ## FIOPS
    write /sys/block/mmcblk0/queue/scheduler "fiops"
    write /sys/block/mmcblk1/queue/scheduler "fiops"
    chmod 0444 /sys/block/mmcblk0/queue/scheduler
    chmod 0444 /sys/block/mmcblk1/queue/scheduler
    ## 1843MHz
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq "1440000"
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq "1843200"
    ## 400MHz
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq "400000"
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq "400000"
    chmod 0444 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0444 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
    ## InternalSD read_ahead_kb (512)
    write /sys/block/mmcblk0/queue/read_ahead_kb 512
    write /sys/block/mmcblk1/queue/read_ahead_kb 512
  	## Thermal Throttling
	write /sys/module/msm_thermal/parameters/enabled "Y"
	write /sys/module/msm_thermal/parameters/temp_threshold 70
    ## Adreno Boost
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 1
    ## devfreq
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor "performance"
    write /sys/class/devfreq/cpubw/governor "performance"

# Battery
on property:persist.spectrum.profile=2
    ##Setting Permissions
    chmod 0666 /sys/block/mmcblk0/queue/scheduler
    chmod 0666 /sys/block/mmcblk1/queue/scheduler
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
    chmod 0664 /sys/class/kgsl/kgsl-3d0/devfreq/max_freq
    chmod 0664 /sys/class/kgsl/kgsl-3d0/devfreq/min_freq
    ## Adreno Idler
    write /sys/module/adreno_idler/parameters/adreno_idler_active "Y"
    ## CPU Governors
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "interactive"
    restorecon -R /sys/devices/system/cpu # must restore after interactive
    ## CPU Governors small
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    restorecon -R /sys/devices/system/cpu # must restore after interactive
    ## BFQ
    write /sys/block/mmcblk0/queue/scheduler "bfq"
    write /sys/block/mmcblk1/queue/scheduler "bfq"
    chmod 0444 /sys/block/mmcblk0/queue/scheduler
    chmod 0444 /sys/block/mmcblk1/queue/scheduler
    ## 1305MHz
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq "1305600"
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq "998400"
    ## 400MHz
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq "400000"
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq "400000"
    chmod 0444 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0444 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
    ## InternalSD read_ahead_kb (128)
    write /sys/block/mmcblk0/queue/read_ahead_kb 128
    write /sys/block/mmcblk1/queue/read_ahead_kb 128
  	## Thermal Throttling
	write /sys/module/msm_thermal/parameters/enabled "Y"
	write /sys/module/msm_thermal/parameters/temp_threshold 60
    ## Adreno Boost
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 0
    ## devfreq
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor "powersave"
    write /sys/class/devfreq/cpubw/governor "powersave"

# Gaming
on property:persist.spectrum.profile=3
    ##Setting Permissions
    chmod 0666 /sys/block/mmcblk0/queue/scheduler
    chmod 0666 /sys/block/mmcblk1/queue/scheduler
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
    chmod 0664 /sys/class/kgsl/kgsl-3d0/devfreq/max_freq
    chmod 0664 /sys/class/kgsl/kgsl-3d0/devfreq/min_freq
    ## Adreno Idler
    write /sys/module/adreno_idler/parameters/adreno_idler_active "N"
    ## CPU Governors BIG
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "interactive"
    restorecon -R /sys/devices/system/cpu # must restore after interactive
    ## CPU Governors small
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    restorecon -R /sys/devices/system/cpu # must restore after interactive
    ## FIOPS
    write /sys/block/mmcblk0/queue/scheduler "fiops"
    write /sys/block/mmcblk1/queue/scheduler "fiops"
    chmod 0444 /sys/block/mmcblk0/queue/scheduler
    chmod 0444 /sys/block/mmcblk1/queue/scheduler
    ## 1843MHz
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq "1440000"
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq "1843200"
    ## 400MHz
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq "400000"
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq "400000"
    chmod 0444 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0444 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
    ## InternalSD read_ahead_kb (512)
    write /sys/block/mmcblk0/queue/read_ahead_kb 512
    write /sys/block/mmcblk1/queue/read_ahead_kb 512
  	## Thermal Throttling
	write /sys/module/msm_thermal/parameters/enabled "Y"
	write /sys/module/msm_thermal/parameters/temp_threshold 75
    ## Adreno Boost
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 3
    ## devfreq
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor "performance"
    write /sys/class/devfreq/cpubw/governor "performance"
