# device specific syscalls
pselect6: 1
eventfd2: 1
sendto: 1
recvfrom: 1
getsockopt: 1
getdents64: 1
sysinfo: 1
getcwd: 1
inotify_init1: 1
inotify_add_watch: 1
